:root {
    --font-read: 'Roboto Mono', monospace;
    --c-black: #000C22;
    --c-background: var(--c-black);
    --c-one: #FC5FFF;
    --c-two: #29E818;
    --c-three: #608CFF;
    --c-four: #FF6F6F;
    --c-five: #fcff55;
    --c-six: #ff1515;

    --hover-anchor-color: white;
    --hover-anchor-stroke-width: 0.6;
}

html {
    font-family: var(--font-read);
    letter-spacing: 0.025em;
    font-size: 62.5%;
    color: var(--c-one);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
    overscroll-behavior: contain;
    background: var(--background);
    position: relative;
    min-width: 101vw;
    min-height: 101vh;
    overflow: hidden;
    
    &.grabbable {
        cursor: grab;
    }

    &.dragging, 
    &.dragging  * {
        cursor: grabbing!important;
    }

    &.show #__cake {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
    }
}

#__cake {
    opacity: 0;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
}

h1,h2,h3,h4,h5 {
    font-size: 100%;
    font-weight: inherit;
}
::selection {
    background: var(--c-three);
    color: var(--c-black)!important;
    text-shadow: none;
}

// h2::selection, h1::selection {
//     background: var(--green);
//     color: var(--black);
// }

.strike {
    position: relative;
    &:after {
        position: absolute;
        content:'';
        left: -0.1em;
        right: -0.1em;
        top: 58%;
        transform: translateY(-50%);
        height: 0.12em;
        background: var(--c-two);
    }
}