:root {
    --font-read: 'Roboto Mono', monospace;
    --hover-anchor-color: white;
    --hover-anchor-stroke-width: 0.6;
}

#theme {
    --c-black: #000C22;
    --c-background: var(--c-black);
    --c-one: fuchsia;
    --c-two: green;
    --c-three: blue;
    --c-four: coral;
    --c-five: goldenrod;
    --c-six: red;

    &.matt {
        --c-black: #333;
        --c-background: rgb(40, 40, 40);
        --c-one: #c9d6ff;
        --c-two: #9ae69f;
        --c-three: #00b8d4;
        --c-four: #edafa9;
        --c-five: #ffd180;
        --c-six: #ff4081;
    }
    &.dull {
        --c-black: black;
        --c-background: rgb(44, 44, 44);
        --c-one: #9c9c9c;
        --c-two: #d0d0d0;
        --c-three: #ffffff;
        --c-four: #717171;
        --c-five:  #1a191b;
        --c-six: #161719;
    }
    &.pink-panther {
        --c-black: #111111;
        --c-background: var(--c-black);
        --c-one: #e91e94;
        --c-two: #9c27b0;
        --c-three: #823fb5;
        --c-four: #fd37ec;
        --c-five: #f50dea;
        --c-six: #a200d4;
    }
    &.neon {
        --c-black: #212121;
        --c-background: #000C22;
        --c-one: #ff4081;
        --c-two: #f50057;
        --c-three: #bf4c00;
        --c-four: #d500f9;
        --c-five: #651fff;
        --c-six: #3d5afe;
        svg {
            path,
            rect,
            circle {
                filter: drop-shadow(0px 0px 6px rgb(47, 47, 255));
            }
        }
    }
}

html {
    font-family: var(--font-read);
    letter-spacing: 0.025em;
    font-size: 62.5%;
    // color: var(--c-one);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
    overscroll-behavior: contain;
    background: var(--background);
    position: relative;
    min-width: 101vw;
    min-height: 101vh;
    overflow: hidden;
    
    &.grabbable {
        cursor: grab;
    }

    &.dragging, 
    &.dragging  * {
        cursor: grabbing!important;
    }

    &.show #__cake {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
    }
}

#__cake {
    opacity: 0;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
}

h1,h2,h3,h4,h5 {
    font-size: 100%;
    font-weight: inherit;
}
::selection {
    background: black;
    color: white!important;
    text-shadow: none;
}

// h2::selection, h1::selection {
//     background: var(--green);
//     color: var(--black);
// }

.strike {
    position: relative;
    &:after {
        position: absolute;
        content:'';
        left: -0.1em;
        right: -0.1em;
        top: 58%;
        transform: translateY(-50%);
        height: 0.12em;
        background: var(--c-two);
    }
}